{% extends 'base.html' %}
{% block style_base %}
	<link rel="stylesheet" type="text/css" href="/static/sohof.css">
{% endblock %}
{% block content %}
	<form class="container1" action="{% url 'soho' %}" method="post">
	{% csrf_token %}
		<p>
		  <img src="/static/ethiotel.jpg"height="42" width="140">
		  <span id="title">SOHO/SME</span>
		</p>
		<label class="container">AIRO-net
		  <input type="radio" checked="checked" name="type" value="AIRO-net">
		  <span class="checkmark"></span>
		</label>
		<label class="container">School-net
		  <input type="radio" name="type" value="School-net">
		  <span class="checkmark"></span>
		</label>
		<label class="container">VSAT
		  <input type="radio" name="type" value="VSAT">
		  <span class="checkmark"></span>
		</label>
		<label class="container">Hybrid
		  <input type="radio" name="type" value="Hybrid">
		  <span class="checkmark"></span>
		</label>
		<div class="divbutton">
		 <button id="generateToken" onClick="location.href='../generatenumber'">generateToken</button>
		</div>
	</form>
{% endblock  %}