{% extends 'base.html' %}
{% block style_base %}
	<link rel="stylesheet" type="text/css" href="/static/welcome.css">
{% endblock %}
{% block content %}
	<div class="container">
		<p>
		  <img src="/static/ethiotel.jpg"height="42" width="140">
		  <span id="title">Welcome To Ethio-Tel</span>
		</p>
		<table>
			<tr><th>Ticket Number</th><th>Count Number</th></tr>
			<tr><td>001</td><td>3</td></tr>
			<tr><td>002</td><td>1</td></tr>
			<tr><td>003</td><td>4</td></tr>
			<tr><td>004</td><td>2</td></tr>
		</table>
	</div>
{% endblock  %}