{% extends 'base.html' %}
{% block style_base %}
	<link rel="stylesheet" type="text/css" href="/static/welcome.css">
{% endblock %}
{% block content %}


	<div class="container col-md-4">
		<p>
		  <img src="/static/ethiotel.jpg"height="42" width="140">
		  <span id="title">Welcome To Ethio-Tel<br><br><br> Please Take Your Ticket Number</span>
		</p>
		<div class="divbutton">
			<button id="cancel"  onClick="location.href='../home'">Get A Ticket Number</button>
		</div>
		
	</div>
{% endblock  %}
