.container1{
    background-color: lightgray;
    margin: 100px;
    margin-left: 400px;
    width: 500px;
    padding: 40px;
            border-radius: 25px;

}

.container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default radio button */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: gray;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}

#title{
font: bold 30px/1 "helvetica neue", helvetica, arial, sans-serif;
position: absolute;
top: 170px;
left: 800px;
color: green;

}



.divbutton{
margin-left: 300px;

}



button{
  background: #1aff2d;
border-top: 1px solid #009e73;
border-right: 1px solid #00805e;
border-bottom: 1px solid #001a13;
border-left: 1px solid #00805e;
box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
color: #001a13;
font: bold 15px/1 "helvetica neue", helvetica, arial, sans-serif;
margin-Top: 20px;
margin-left:260px;padding: 4px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-left:50px;
text-shadow: 0 -1px 1px #1e2d4d;
width: 120px;
padding : 10px;
}

